{% extends "base.html" %}
{% block content %}



<style type="text/css">
		html,body {
			background: url("https://pbs.twimg.com/profile_images/795892704/Andy2007HeadShotSmall.jpg")  repeat top center fixed;
		}
	</style>

<div class="row">
	<h1 style="color: white; text-align: center">
	Andy Gavin
</h1>
	<div id="attributes" class="col-md-4" style="text-align: center;">
		
		<ul style="list-style-type: none;">
			<li> <h3>About</h3> </li>
			<li>job: Chief Technology Officer, Novelist</li>
			<li>DOB: 1970-06-11</li>
			<li>location: Santa Monica, California</li>
			<li>description: Long text description for Andy</li>
			<li> images:
				 <ul style="list-style-type: none">
					<li><a href="https://pbs.twimg.com/profile_images/795892704/Andy2007HeadShotSmall.jpg">Image 1</a></li>
				</ul> 
			</li>
			<li>location: Santa Monica, California</li>
			<li>video <iframe src="" frameborder="0" allowfullscreen></iframe></li>
		</ul>
	</div>

	<div id="companies" class="col-md-4"  style="text-align: center;">
		<ul style="list-style-type: none">
			<li><h3 >Companies</h3></li>
			<li><a href="{% url 'naughtydog' %}">Naughty Dog</a></li>
		</ul>
	</div>

	<div id="game" class="col-md-4" style="text-align: center;">
		<ul style="list-style-type: none">
			<li><h3 >Games</h3></li>
			<li><a href="{% url 'crash_bandicoot' %}">Crash Bandicoot</a></li>
		</ul>
	</div>
</div>

{% endblock %}