{% load staticfiles %}

<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}"
          rel="stylesheet" media="screen">
    <!-- this code between <header> ... </header> -->
	<link rel="stylesheet" href='/static/startup/Developer/flat-ui/bootstrap/css/bootstrap.css'>
	<link rel="stylesheet" href='/static/startup/Developer/flat-ui/bootstrap/css/bootstrap-responsive.css'>
	<link rel="stylesheet" href='/static/startup/Developer/flat-ui/css/flat-ui.css'>
	<!-- Using only with Flat-UI (free)-->
	<link rel="stylesheet" href='/static/startup/Developer/common-files/css/icon-font.css'>
	<!-- end -->
	<link rel="stylesheet" href='/static/startup/Developer/common-files/css/animations.css'>
	<!-- this code directly before </body> -->
	<!-- header -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-header/css/style.css'>
	<!-- content -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-content/css/style.css'>
	<!-- blog -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-blog/css/style.css'>
	<!-- contacts -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-contacts/css/style.css'>
	<!-- crew -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-crew/css/style.css'>
	<!-- price -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-price/css/style.css'>
	<!-- projects -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-projects/css/style.css'>
	<!-- footer -->
	<link rel="stylesheet" href='/static/startup/Developer/ui-kit/ui-kit-footer/css/style.css'>
	<script src='/static/startup/Developer/common-files/js/jquery-1.10.2.min.js'></script>
	<script src='/static/startup/Developer/flat-ui/js/bootstrap.min.js'></script>
	<script src='/static/startup/Developer/common-files/js/jquery.scrollTo-1.4.3.1-min.js'></script>
	<script src='/static/startup/Developer/common-files/js/modernizr.custom.js'></script>
	<script src='/static/startup/Developer/common-files/js/page-transitions.js'></script>
	<script src='/static/startup/Developer/common-files/js/easing.min.js'></script>
	<script src='/static/startup/Developer/common-files/js/jquery.svg.js'></script>
	<script src='/static/startup/Developer/common-files/js/jquery.svganim.js'></script>
	<script src='/static/startup/Developer/common-files/js/jquery.parallax.min.js'></script>
	<script src='/static/startup/Developer/common-files/js//static/startup-kit.js'></script>
  </head>

  <body>
  	<nav class="navbar navbar-pills navbar-default" role="navigation" style="max-height: 75px;background-color: rgba(99,105,102,1.0);">
  		<div class="container-fluid">
  			<h3 class="col-md-6" style="font-family: Lato; ">ITSAFEATURE</h3>

  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  			<!-- <ul class="nav navbar-nav" style= "text-align: center;list-style: none; float: right; margin: 30px;">
	  				<div class="row">
		  				<li class="btn btn-primary" > <a style="color: #ffffff" href="#"> Home </a> </li>
		  				<li class="btn btn-primary"><a style="color: #ffffff"href="#"> Members </a></li>
		  				<li class="btn btn-primary"><a style="color: #ffffff"href="#"> Games </a></li>
		  				<li class="btn btn-primary"><a style="color: #ffffff"href="#"> Companies </a></li>
	  				</div>
	  			</ul> -->
	  		</div>
  		</div>
  		

  	</nav>
  	<div class="" style="background-color: rgba(255,255,255,0.0); height: 400px; margin-top: -100px;">

	</div>

	<div class="" style="background-color: rgba(99,105,102,1.0); min-height: 700px;max-height: 100%; margin-top: -50px;">
		{% block content %}
    	{% endblock %}
	</div>
    
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>