{%load staticfiles%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Retro Games Database - RGdb</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Retro Games</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'games' %}">Games</a></li>
                    <li><a href="{% url 'companies' %}">Companies</a></li>
                    <li><a href="{% url 'people' %}">People</a></li>
                    <li><a href="{% url 'stats' %}">Stats</a></li>                    
                </ul>
                <form class="navbar-form navbar-left" role="search" method="GET" action="{% url 'search' %}">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" name="q">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    {% block content %}
    {% endblock %}

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bemo-fy">
                        <h2>Presented by ITSAFEATURE:</h2>
                        <br>
                        Andres Lugo-Reyes || Andrew Solis || Christopher Word || Ethan Poulter || Mitch Stephan || Yousup Lee
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="{% url 'games' %}">Games</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="{% url 'companies' %}">Companies</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="{% url 'people' %}">People</a></li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Retro Games Database (RGdb) 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
