{% extends "base.html" %}

{% block content %}
<div class="content-section-a">
	<div class="container">
		<div class="row">
        	<div class="col-md-6 col-md-offset-5 no_bullet">
                <h2>List of {{ collections }}:</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                {% for item in items %}
                    <p class="lead"><a href="{{ item.object.pk }}/">{{ item.object.name }}</a></p>
		        {% endfor %}
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}