{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        body .intro-header {
            padding-top: 50px;
            padding-bottom: 50px;
            color: #f8f8f8;
            margin-top: 50px;
            background: url({{images.0}}) no-repeat center center;
            background-size: contain;
            text-align: center;
            min-height: 300px;
        }
    </style>

    <div class="content-section-a-less-pad">
        <div class="container">
            <div class="row title-row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h2>{{name}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Details</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li> Founded: {{ founded }} </li>
                        <li> Location: {{ location }} </li>
                    </ul>
                    <h3>Games</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for game in games %}
                            <li><a href="/games/{{ game.pk }}/"> {{ game.fields.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <h3>People</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for person in people %}
                            <li><a href="/people/{{ person.pk }}/"> {{ person.fields.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9">
                    <h3>Description</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <article class="lead">
                        <p class="lead">{{ description|linebreaksbr }}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h3 class="section-heading">Media</h3>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="video-container">
                        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ mapimage }}"></iframe>
                    </div>
                </div>
                {% if twitter %}
                    <div class="col-md-6 col-sm-6">
                        <a class="twitter-timeline" href="" data-widget-id="{{ twitter }}"></a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/static/js/readmore.js"></script>
    <script>
        $('article').readmore({
            maxHeight: 350,
            lessLink: '<a href="#">Hide</a>'
        });
    </script>
{% endblock %}