{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        body .intro-header {
            padding-top: 50px;
            padding-bottom: 50px;
            color: #f8f8f8;
            margin-top: 50px;
            background: url({{images}}) no-repeat center center;
            background-size: contain;
            text-align: center;
            min-height: 300px;
        }
    </style>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h2>{{name}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Details</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li> Founded: {{ founded }} </li>
                        <li> Location: {{ location }} </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Description</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class ="lead">{{ description }}</p>
                </div>
                <div class="col-md-3">
                    <h3>Games</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for item in games %}
                            <li><a href="/games/{{ item.object.pk }}/"> {{ item.object.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>People</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for item in people %}
                            <li><a href="/people/{{ item.object.pk }}/"> {{ item.object.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}