{% extends "base.html" %}
{% block content %}



<style type="text/css">
		html,body {
			background: url("http://upload.wikimedia.org/wikipedia/en/4/44/Crash_Bandicoot_Cover.png") repeat center center fixed;
		}
	</style>

<div class="row">
	<h1 style="color: white; text-align: center">
	Crash Bandicoot
</h1>
	<div id="attributes" class="col-md-4" style="text-align: center;">
		
		<ul style="list-style-type: none;">
			<li><h3 >Attributes</h3></li>
			<li> name: Crash Bandicoot </li>
			<li> system: Playstation </li>
			<li> release date: 1996-08-31 </li>
			<li> genre: Platforming/Racing/Party </li>
			<li> synopsis: LOREM IPSUM </li>
			<li> copies sold: 6800000 </li>
			<li> images:
				 <ul style="list-style-type: none">
					<li><a href="http://upload.wikimedia.org/wikipedia/en/4/44/Crash_Bandicoot_Cover.png">Image 1</a></li>
				</ul> 
			</li>
			<li> <a href="http://www.gamefaqs.com/ps/196986-crash-bandicoot/faqs">GameFAQ link</a> </li>
			<li> videos:
				<iframe width="420" height="315" src="http://www.youtube.com/watch?v=_9duLa-mixQ" frameborder="0" allowfullscreen></iframe>
			</li>
		</ul>
	</div>

	<div id="companies" class="col-md-4"  style="text-align: center;">
		<ul style="list-style-type: none">
			<li><h3 >Companies</h3></li>
			<li><a href="">Naughty Dog</a></li>
		</ul>
	</div>

	<div id="people" class="col-md-4" style="text-align: center;">
		<ul style="list-style-type: none">
			<li><h3 >People</h3></li>
			<li><a href="">Andy Gavin</a></li>
		</ul>
	</div>
</div>

{% endblock %}