{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        body .intro-header {
            padding-top: 50px;
            padding-bottom: 50px;
            color: #f8f8f8;
            margin-top: 50px;
            background: url({{images.0}}) repeat-x;
            background-size: contain;
            text-align: center;
            min-height: 300px;
        }
    </style>

    <div class="content-section-a-less-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h2>{{name}}</h2>
                </div>
            </div>
        </div>
    </div>
  
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Details</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li> System: {{ system }} </li>
                        <li> Release date: {{ release_date }} </li>
                        <li> Genre: {{ genre }} </li>
                        <li> Copies sold: {{ copies }} </li>
                        <li> <a href={{ gamefaq }}>GameFAQ</a> </li>
                    </ul>
                    <h3>People</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for person in people %}
                            <li><a href="/people/{{ person.pk }}/"> {{ person.fields.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <h3>Companies</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li> <a href="/companies/{{company.pk}}/">{{ company.fields.name }}</a> </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <h3>Synopsis</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <article>
                        <p class ="lead">{{ synopsis|linebreaksbr }}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h3 class="section-heading">Media</h3>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="game-carousel" class="carousel slide carousel-size">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{{ images.0 }}" alt="" height="315" />
                            </div>
                            {% for image in images %}
                                {%  if image != images.0 %}
                                    <div class="item">
<!--                                        <img src="{{ image }}" alt="" max-width=100% height=auto /> -->
                                       <img src="{{ image }}" alt="" height="315" />
                                    </div>
                                {%  endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                    <div id="video-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <embed src="//{{ videos.0 }}" alt="" width="420" height="315" />
                            </div>
                            {% for video in videos %}
                                {%  if video != videos.0 %}
                                    <div class="item">
                                        <embed src="//{{ video }}" alt="" width="420" height="315"/>
                                    </div>
                                {%  endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div> -->
            </div>
           
            <div class="row">
                <div class="col-md-6 col-sm-6" id="carouselButtons">
                    <button id="leftImageButton" type="button" class="btn btn-default btn-m floatright">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button id="rightImageButton" type="button" class="btn btn-default btn-m floatright">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>

                <div class="col-md-6 col-sm-6" id="carouselButtons">
                    <button id="leftVideoButton" type="button" class="btn btn-default btn-m floatright">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button id="rightVideoButton" type="button" class="btn btn-default btn-m floatright">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/static/js/readmore.js"></script>
    <script>
        $('article').readmore({
            maxHeight: 350,
            lessLink: '<a href="#">Hide</a>'
        });
    </script>
    <script>  
    $(function () { 
        $("#game-carousel").carousel({
            interval: 5000,
            pause: 'hover'
        });
    });

    $(function () { 
        $("#video-carousel").carousel({
            interval: false,
            pause: 'hover'
        });
    }); 
    $('#leftImageButton').click(function () {
        $('#game-carousel').carousel('prev');
    });
    $('#rightImageButton').click(function () {
        $('#game-carousel').carousel('next');
    });
    $('#leftVideoButton').click(function () {
        $('#video-carousel').carousel('prev');
    });
    $('#rightVideoButton').click(function () {
        $('#video-carousel').carousel('next');
    });
    </script>
{% endblock %}
