{% extends "base.html" %}
{% block content %}
	<style type="text/css">
        body .intro-header {
            padding-top: 50px;
            padding-bottom: 50px;
            color: #f8f8f8;
            margin-top: 50px;
            /*margin-bottom: -50px;*/
            background: url({{images}}) repeat-x;
            background-size: contain;
            text-align: center;
            min-height: 350px;
        }
    </style>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}