            padding-top: 50px;
            padding-bottom: 50px;
            color: #f8f8f8;
            margin-top: 50px;
            background: url({{images}}) repeat-x;
            background-size: contain;
            text-align: center;
            min-height: 300px;
        }
    </style>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h2>{{name}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
            <div class="row">
                <div class="col-md-3">
                    <h3>Details</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li> System: {{ system }} </li>
                        <li> Release date: {{ release_date }} </li>
                        <li> Genre: {{ genre }} </li>
                        <li> Copies sold: {{ copies }} </li>
                        <li> <a href={{ gamefaq }}>GameFAQ</a> </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Synopsis</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class ="lead">{{ synopsis }}</p>
                </div>
                <div class="col-md-3">
                    <h3>People</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for item in people %}
                            <li><a href="/people/{{ item.object.pk }}/"> {{ item.object.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Companies</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li> <a href="/companies/{{company.object.pk}}/">{{ company.object.name }}</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h3 class="section-heading">Media</h3>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="video-container">
                        <iframe width="420" height="315" src="//{{ videos }}" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
