{% extends "base.html" %}

{% block content %}

	
		<div class="row" style="text-align: center">
			<h1> ITSAFEATURE </h1>
		</div>

		<div class="row">
			<div class="col-md-6" style="text-align: center" >
				<h2>Group Members:</h2>
				<ul style="list-style-type: none">
					<h4> <li> Yousup Lee</li>
					<li> Andrew Solis</li>
					<li> Chris Word </li>
					<li> Mitch Stephan</li>
					<li>Ethan Poulter</li>
					<li>Andres Lugo-Reyes</li> </h4>
				</ul>
			</div>

			<div class="col-md-6" style="text-align: center">
				<h2>Links to our static pages:</h2>
				<h4> <ul style="list-style-type: none">
					<li><a href="{% url 'home' %}">Splash Page</a></li>
					<li><a href="{% url 'metroid' %}"> Metroid </a></li>
					<li><a href="{% url 'sonic' %}"> Sonic the Hedgehog </a></li>
					<li><a href="{% url 'crash_bandicoot' %}">Crash Bandicoot</a></li>
					<li><a href="{% url 'yoshio_sakamoto' %}">Yoshio Sakamoto</a></li>
					<li><a href="{% url 'naoto_oshima' %}">Naoto Oshima</a></li>
					<li><a href="{% url 'andy_gavin' %}">Andy Gavin</a></li>
					<li><a href="{% url 'nintendo' %}">Nintendo</a></li>
					<li><a href="{% url 'sega' %}">Sega</a></li>
					<li><a href="{% url 'naughtydog' %}">Naughty Dog</a></li> </h4>
				</ul>
			</div>
		</div>
{% endblock %}
