{% extends "base.html" %}

{% block content %}

	<style type="text/css">
		html,body {
			background: url("/static/images/bg.jpg") no-repeat center center fixed;
		}
	</style>


		<div class="row">
			<div class="col-md-6" style="text-align: center" >
				<h2>Group Members:</h2>
				<ul style="list-style-type: none">
					<h4> <li> Yousup Lee</li>
					<li> Andrew Solis</li>
					<li> Chris Word </li>
					<li> Mitch Stephan</li>
					<li>Ethan Poulter</li>
					<li>Andres Lugo-Reyes</li> </h4>
				</ul>
			</div>

			<div class="col-md-6" style="text-align: center">
				<h2>Links to our static pages:</h2>
				<h4> <ul style="list-style-type: none">
					<li><a href="/idb/templates/home.html">Splash Page</a></li>
					<li><a href=""> Metroid </a></li>
					<li><a href=""> Sonic the Hedgehog </a></li>
					<li><a href="">Crash Bandicoot</a></li>
					<li><a href="">Yoshio Sakamoto</a></li>
					<li><a href="">Naoto Oshima</a></li>
					<li><a href="">Andy Gavin</a></li>
					<li><a href="">Nintendo</a></li>
					<li><a href="">Sega</a></li>
					<li><a href="">Naughty Dog</a></li> </h4>
				</ul>
			</div>
		</div>
{% endblock %}
