{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        body .intro-header {
            padding-top: 50px;
            padding-bottom: 50px;
            color: #f8f8f8;
            margin-top: 50px;
            background: url({{images.0}}) repeat-x;
            background-size: contain;
            text-align: center;
            min-height: 300px;
        }
    </style>

    <div class="content-section-a-less-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h2>{{name}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Details</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        <li>DOB: {{ DOB }}</li>
                        <li>Residence: {{ residence }}</li>
                    </ul>
                    <h3>Games</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for game in games %}
                            <li><a href="/games/{{ game.pk }}/"> {{ game.fields.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <h3>Companies</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <ul class="list-unstyled lead">
                        {% for company in companies %}
                            <li><a href="/companies/{{ company.pk }}/"> {{ company.fields.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9">
                    <h3>Description</h3>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <article>
                        <p class ="lead">{{ description|linebreaksbr }}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>

   <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                    <h3 class="section-heading">Media</h3>
                </div>
                {% if videos %}
                    <div class="col-md-6 col-sm-6">
                        <div id="video-carousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <embed src="//{{ videos.0 }}" alt="" width="420" height="315" />
                                </div>
                                {% for video in videos %}
                                    {%  if video != videos.0 %}
                                        <div class="item">
                                            <embed src="//{{ video }}" alt="" width="420" height="315" />
                                        </div>
                                    {%  endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if twitter %}
                    <div class="col-md-6 col-sm-6">
                        <a class="twitter-timeline" href="" data-widget-id="{{ twitter }}"></a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                {% endif %}
            </div>
            {% if videos %}
                <div class="row">
                    <div class="col-md-6 col-sm-6" id="carouselButtons">
                        <button id="leftVideoButton" type="button" class="btn btn-default btn-m floatright">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button id="rightVideoButton" type="button" class="btn btn-default btn-m floatright">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/static/js/readmore.js"></script>
    <script>
        $('article').readmore({
            maxHeight: 350,
            lessLink: '<a href="#">Hide</a>'
        });

        $(function () { 
        $("#video-carousel").carousel({
            interval: false,
            pause: 'hover'
        });
    });
    $('#leftVideoButton').click(function () {
        $('#video-carousel').carousel('prev');
    });
    $('#rightVideoButton').click(function () {
        $('#video-carousel').carousel('next');
    });
    </script>
{% endblock %}