{% extends "base.html" %}

{% block content %}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                <h2>SQL QUERIES:</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            {% for item in names %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <p class="lead">
                        {{ item }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-5 col-sm-6 col-sm-offset-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
