{% extends "base.html" %}
{% block content %}



<style type="text/css">
		html,body {
			background: url("{{images}}") repeat center center fixed;
		}
	</style>
<h1 style="color: white; text-align: center">
	{{ name }}
</h1>
<div class="row col-md-offset-2">
	
	<div id="attributes" class="col-md-4" style="text-align: left;">
		
		<ul style="list-style-type: none;">
			<li><h3 >Attributes</h3></li>
			<li> Name: {{ name }} </li>
			<li> Founded: {{ founded }} </li>
			<li> Location: {{ location }} </li>
			<li> Description: {{ description }} </li>
			<li><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ mapimage }}"></iframe>
			
		</ul>
	</div>

	<div id="companies" class="col-md-4"  style="text-align: left;">
		<ul style="list-style-type: none">
			<li><h3 >People</h3></li>
			{% for item in people %}
				<li><a href="/people/{{ item.object.pk }}/"> {{ item.object.name }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div id="people" class="col-md-4" style="text-align: left;">
		<ul style="list-style-type: none">
			<li><h3 >Games</h3></li>
			{% for item in games %}
				<li><a href="/games/{{ item.object.pk }}/"> {{ item.object.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="row" style="margin-bottom: 15px;">
		<div class="twitter" style="text-align: center; word-wrap: break-word;">
			<a class="twitter-timeline" href="" data-widget-id="451874066975059968"></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>

{% endblock %}